<h1 class="title-sign-in">Editar categoria</h1>

<%= render 'form', category: @category %>

<div class="btn-2">
    <%= link_to 'Show', @category%>  | 
    <%= link_to 'Atras', categories_path%>
</div>
